<a href="https://colab.research.google.com/github/avgode/PythonExercises/blob/master/Exercise34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
animals = ['bear', 'python3.6', 'peacock', 'kangaroo', 'whale', 'platypus']

In [3]:
# The animal at 1.
animals[1]

'python3.6'

In [4]:
# The third (3rd) animal.
animals[2]

'peacock'

In [5]:
# The first (1st) animal.
animals[0]

'bear'

In [6]:
# The animal at 3.
animals[3]

'kangaroo'

In [7]:
# The fifth (5th) animal.
animals[4]

'whale'

In [9]:
# The animal at 2.
animals[2]

'peacock'

In [10]:
# The sixth (6th) animal.
animals[5]

'platypus'

In [11]:
# The animal at 4.
animals[4]

'whale'